* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.weatherform{
  margin: 20px;
}
.cityinput{
  font-size: 2rem;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid rgb(91, 87, 87);
  border-radius: 10px;
  width: 300px;
}
button{
  padding: 10px 20px; 
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: rgb(94, 174, 240);
  cursor: pointer;
}
button:hover{
  background-color: rgb(55, 156, 239);
  box-shadow: 2px 2px 2px;
  transition: 100ms;
}
.card{
  background : linear-gradient(180deg,rgb(122, 174, 223),rgb(234, 212, 167));
  padding: 60px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(39, 48, 52, 0.404);
}
.city_display, .temp_display{
  font-weight: bold;
  font-size: 3rem;
  margin: 10px;
}
.humidity_display{
  font-size: 1.5em;
  font-weight: bold;
}
.desc_display{
  font-size: 2em;
margin-top: 10px;  
}
.emoji_display{
  font-size: 7em;
}
.error_display{
  font-size: 3em;
}
